VITE_ELLE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyODQzMGFiZTk3NmVhYjg1OTliNTEwM2Q1OGJmNDE5MiIsImVtYWlsIjoic2JhcnRlYXUyMDIyQGdtYWlsLmNvbSIsImp0aSI6IjBjMDM4YzVkN2FkNDQ2ZmNmZTY3MTY4ZDJkMzFiYzMzIiwiZXhwIjoxNzgzMzE2OTk5fQ.sv4AY2JUni43fEHkwtTkD94Z19QH1LlpNljs1X20hUg
